AMIS/
AMIS/00-Prompt-for-ProjectAnalysis.md
AMIS/01-ProjectAnalysis.md
AMIS/02-TODO.txt
AnalizadorDeProyecto.bat
SCR/logs/sistema.log
__pycache__
SCR/__pycache__
SCR/logs/__pycache__
config/path.txt
analizador_env/
