AnalizadorDeProyecto.ico
default.txt
AnalizadorDeProyecto.bat
listado_AnalizadorDeProyecto.txt
__pycache__
mejoras.txt
gestion_archivos.log
logs/analizador.log
logs/gestion_archivos.log
logs/manipulacion_archivos.log
.vscode/
