[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"
colorama = "*"
reportlab = "*"
python-dotenv = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.9"
